.product__cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    tbody {
        margin: 50px;
    }


    .product__img {
        width: 50px;
        margin: 20px;
        height: auto;

        .product__data {
            h2 {
                font-size: 15px;
            }
        }

        .product__price {
            font-weight: bold;
        }
    }
}

.page__cart {
    img {
        width: 50px;
    }

    table {
        width: 100%;
    }
}
.container_price_size{
    display: flex;
    justify-content: space-between;
    .size{
        height: 32px;
    }
}