.products__grid {
    display: grid;
    grid-auto-columns: max-content; //added
    grid-auto-flow: dense; // added
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);

    .product__card {
        border: 1px solid #ccc;
        margin: 20px;
        grid-column: span 1;
        grid-row: span 1;

        .product__img {
            img {
                cursor: pointer;
                width: 100%;
                height: 350px;
            }
        }

        .product__data {
            margin-left: 20px;
            h2 {
                font-size: 15px;
            }
        }
        .product__button {
            Button {
                position: relative;
                bottom: 0%;
            }
        }
    }
}

.grid__categories {
    height: 120vh;
    margin-top: 0%;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 10px;

    &__cell {
        text-align: center;
        padding: 1rem;
        font-weight: bold;
        cursor: pointer;
        background-color: rgb(240 247 255);

        &__1 {
            width: 93%;
            left: 3.5%;
            padding: 20px;
            position: relative;
        }
    }

    img {
        width: 100%;
        cursor: pointer;

        &:hover .hidden__text {
            transition: transform .2s;
            transform: scale(1.5);
        }
    }
}

.hidden__text {
    z-index: 999;
    text-align: center;
    color: black;
    position: absolute;

}