.slider {
    text-align: center;
    &__img {
        &:hover {
            cursor: pointer;
        }
        width: 90%;
        object-fit: cover;
        
    }

    &__product {
        &__img {
            height: 250px;
        }
    }
}

.alice-carousel__wrapper{
    text-align: center;
}