.page__shop {
    display: flex;
    .side-navigation-panel {
        position: fixed;
    }
    .sideBarContainer {
        background-color: green;
        width: 210px;
        height: 100%;
    }
}